In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("tips.xlsx")
data

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [5]:
# access world population from wikipedia
# url = "https://en.wikipedia.org/wiki/World_population"
# response = pd.read_html(url)
# world_population = response[0]
# world_population

In [7]:
# to analyse we see size
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   gender            244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    int64
 10  Payment ID        244 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 21.1+ KB

In [9]:
# statistical analysis
data.describe()

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563496e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040731e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525318e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596454e+15

In [10]:
# percentile 25 means 25% of the data is below this value
# percentile 75 means 75% of the data is below this value

In [11]:
data['total_bill'].std()

np.float64(8.902411954856856)

In [12]:
data[['total_bill', 'tip']].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [15]:
a = pd.read_excel("Sales.xlsx")

In [ ]:
print(a.head())
a.tail()

In [20]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderNo             60398 non-null  object
 1   SalesOrderLineKey   60398 non-null  int64
 2   OrderQuantity       60398 non-null  int64
 3   ItemCost            60398 non-null  float64
 4   ItemPrice           60398 non-null  float64
 5   OrderDate           60398 non-null  datetime64[ns]
 6   DeliveryDueDate     60398 non-null  datetime64[ns]
 7   CustomerName        60398 non-null  object
 8   CustomerCity        60398 non-null  object
 9   CustomerState       60398 non-null  object
 10  CustomerCountry     60398 non-null  object
 11  ProductCategory     60398 non-null  object
 12  ProductSubcategory  60398 non-null  object
 13  Product             60398 non-null  object
 14  ProductColor        31479 non-null  object
 15  Model               60398 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(2), object(10)
memory usage: 7.4+ MB

In [21]:
a.describe()

,SalesOrderLineKey,OrderQuantity,ItemCost,ItemPrice,OrderDate,DeliveryDueDate
count,6.039800e+04,60398.0,60398.000000,60398.000000,60398,60398
mean,6.184938e+07,1.0,286.066725,486.086922,2019-11-10 07:56:13.025596928,2019-11-17 19:13:20.966919424
min,4.369700e+07,1.0,0.860000,2.290000,2017-07-01 00:00:00,2017-07-03 00:00:00
25%,5.556000e+07,1.0,2.970000,7.950000,2019-09-04 00:00:00,2019-09-11 00:00:00
50%,6.210400e+07,1.0,11.220000,29.990000,2019-12-15 00:00:00,2019-12-22 00:00:00
75%,6.865000e+07,1.0,294.580000,539.990000,2020-03-20 00:00:00,2020-03-28 00:00:00
max,7.512300e+07,1.0,2171.290000,3578.270000,2020-06-15 00:00:00,2020-06-29 00:00:00
std,8.030547e+06,0.0,552.456782,928.489878,NaN,NaN

In [24]:
a.head(15)

,OrderNo,SalesOrderLineKey,OrderQuantity,ItemCost,ItemPrice,OrderDate,DeliveryDueDate,CustomerName,CustomerCity,CustomerState,CustomerCountry,ProductCategory,ProductSubcategory,Product,ProductColor,Model
0,SO43697,43697001,1,2171.29,3578.27,2017-07-01,2017-07-03,Cole Watson,Metchosin,British Columbia,Canada,Bikes,Road Bikes,"Road-150 Red, 62",Red,Road-150
1,SO43698,43698001,1,1912.15,3399.99,2017-07-01,2017-07-03,Rachael Martinez,Pantin,Seine Saint Denis,France,Bikes,Mountain Bikes,"Mountain-100 Silver, 44",Silver,Mountain-100
2,SO43699,43699001,1,1912.15,3399.99,2017-07-01,2017-07-03,Sydney Wright,Lebanon,Oregon,United States,Bikes,Mountain Bikes,"Mountain-100 Silver, 44",Silver,Mountain-100
3,SO43700,43700001,1,413.15,699.10,2017-07-01,2017-07-09,Ruben Prasad,Beverly Hills,California,United States,Bikes,Road Bikes,"Road-650 Black, 62",Black,Road-650
4,SO43701,43701001,1,1912.15,3399.99,2017-07-01,2017-07-07,Christy Zhu,North Ryde,New South Wales,Australia,Bikes,Mountain Bikes,"Mountain-100 Silver, 44",Silver,Mountain-100
5,SO43702,43702001,1,2171.29,3578.27,2017-07-01,2017-07-07,Colin Anand,Coronado,California,United States,Bikes,Road Bikes,"Road-150 Red, 44",Red,Road-150
6,SO43703,43703001,1,2171.29,3578.27,2017-07-01,2017-07-14,Albert Alvarez,Perth,South Australia,Australia,Bikes,Road Bikes,"Road-150 Red, 62",Red,Road-150
7,SO43704,43704001,1,1898.09,3374.99,2017-07-01,2017-07-07,Julio Ruiz,East Brisbane,Queensland,Australia,Bikes,Mountain Bikes,"Mountain-100 Black, 48",Black,Mountain-100
8,SO43705,43705001,1,1912.15,3399.99,2017-07-01,2017-07-13,Curtis Lu,East Brisbane,Queensland,Australia,Bikes,Mountain Bikes,"Mountain-100 Silver, 38",Silver,Mountain-100
9,SO43706,43706001,1,2171.29,3578.27,2017-07-02,2017-07-13,Edward Brown,Santa Monica,California,United States,Bikes,Road Bikes,"Road-150 Red, 48",Red,Road-150
10,SO43707,43707001,1,2171.29,3578.27,2017-07-02,2017-07-04,Emma Brown,Lemon Grove,California,United States,Bikes,Road Bikes,"Road-150 Red, 48",Red,Road-150
11,SO43708,43708001,1,413.15,699.10,2017-07-02,2017-07-11,Brad Deng,Liverpool,England,United Kingdom,Bikes,Road Bikes,"Road-650 Red, 52",Red,Road-650
12,SO43709,43709001,1,2171.29,3578.27,2017-07-02,2017-07-03,Martha Xu,Rockhampton,Queensland,Australia,Bikes,Road Bikes,"Road-150 Red, 52",Red,Road-150
13,SO43710,43710001,1,2171.29,3578.27,2017-07-02,2017-07-16,Katrina Raji,Wollongong,New South Wales,Australia,Bikes,Road Bikes,"Road-150 Red, 56",Red,Road-150
14,SO43711,43711001,1,2171.29,3578.27,2017-07-02,2017-07-04,Courtney Edwards,Milwaukie,Oregon,United States,Bikes,Road Bikes,"Road-150 Red, 56",Red,Road-150

In [30]:
# condtional filtering
indexes = a['CustomerCountry'] == 'United States'
a[indexes]

,OrderNo,SalesOrderLineKey,OrderQuantity,ItemCost,ItemPrice,OrderDate,DeliveryDueDate,CustomerName,CustomerCity,CustomerState,CustomerCountry,ProductCategory,ProductSubcategory,Product,ProductColor,Model
2,SO43699,43699001,1,1912.15,3399.99,2017-07-01,2017-07-03,Sydney Wright,Lebanon,Oregon,United States,Bikes,Mountain Bikes,"Mountain-100 Silver, 44",Silver,Mountain-100
3,SO43700,43700001,1,413.15,699.10,2017-07-01,2017-07-09,Ruben Prasad,Beverly Hills,California,United States,Bikes,Road Bikes,"Road-650 Black, 62",Black,Road-650
5,SO43702,43702001,1,2171.29,3578.27,2017-07-01,2017-07-07,Colin Anand,Coronado,California,United States,Bikes,Road Bikes,"Road-150 Red, 44",Red,Road-150
9,SO43706,43706001,1,2171.29,3578.27,2017-07-02,2017-07-13,Edward Brown,Santa Monica,California,United States,Bikes,Road Bikes,"Road-150 Red, 48",Red,Road-150
10,SO43707,43707001,1,2171.29,3578.27,2017-07-02,2017-07-04,Emma Brown,Lemon Grove,California,United States,Bikes,Road Bikes,"Road-150 Red, 48",Red,Road-150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60362,SO75110,75110002,1,20.57,54.99,2020-06-15,2020-06-24,Rebecca Nicholls,Redwood City,California,United States,Accessories,Hydration Packs,Hydration Pack - 70 oz.,Silver,Hydration Pack
60363,SO75110,75110003,1,2.97,7.95,2020-06-15,2020-06-20,Rebecca Nicholls,Redwood City,California,United States,Accessories,Cleaners,Bike Wash - Dissolver,NaN,Bike Wash
60384,SO75119,75119001,1,1.87,4.99,2020-06-15,2020-06-21,Alexandria Howard,Everett,Washington,United States,Accessories,Tires and Tubes,Mountain Tire Tube,NaN,Mountain Tire Tube
60385,SO75119,75119002,1,13.09,35.00,2020-06-15,2020-06-29,Alexandria Howard,Everett,Washington,United States,Accessories,Tires and Tubes,HL Mountain Tire,NaN,HL Mountain Tire
60386,SO75119,75119003,1,0.86,2.29,2020-06-15,2020-06-23,Alexandria Howard,Everett,Washington,United States,Accessories,Tires and Tubes,Patch Kit/8 Patches,NaN,Patch kit

In [31]:
all_countries = a['CustomerCountry'].unique()

In [33]:
for country in all_countries:
    print(country)
    indexes = a['CustomerCountry'] == country
    data = a[indexes]
    data.to_excel("data/" + country + ".xlsx")

Canada
France
United States
Australia
United Kingdom
Germany

In [36]:
a.columns

Index(['OrderNo', 'SalesOrderLineKey', 'OrderQuantity', 'ItemCost',
       'ItemPrice', 'OrderDate', 'DeliveryDueDate', 'CustomerName',
       'CustomerCity', 'CustomerState', 'CustomerCountry', 'ProductCategory',
       'ProductSubcategory', 'Product', 'ProductColor', 'Model'],
      dtype='object')

In [41]:
a.groupby("CustomerCountry")["ItemPrice"].mean().sort_values(ascending=True)

CustomerCountry
Canada            259.559697
United States     439.926440
France            475.713879
United Kingdom    491.125433
Germany           514.544420
Australia         678.980946
Name: ItemPrice, dtype: float64

In [42]:
a.head(5)

,OrderNo,SalesOrderLineKey,OrderQuantity,ItemCost,ItemPrice,OrderDate,DeliveryDueDate,CustomerName,CustomerCity,CustomerState,CustomerCountry,ProductCategory,ProductSubcategory,Product,ProductColor,Model
0,SO43697,43697001,1,2171.29,3578.27,2017-07-01,2017-07-03,Cole Watson,Metchosin,British Columbia,Canada,Bikes,Road Bikes,"Road-150 Red, 62",Red,Road-150
1,SO43698,43698001,1,1912.15,3399.99,2017-07-01,2017-07-03,Rachael Martinez,Pantin,Seine Saint Denis,France,Bikes,Mountain Bikes,"Mountain-100 Silver, 44",Silver,Mountain-100
2,SO43699,43699001,1,1912.15,3399.99,2017-07-01,2017-07-03,Sydney Wright,Lebanon,Oregon,United States,Bikes,Mountain Bikes,"Mountain-100 Silver, 44",Silver,Mountain-100
3,SO43700,43700001,1,413.15,699.10,2017-07-01,2017-07-09,Ruben Prasad,Beverly Hills,California,United States,Bikes,Road Bikes,"Road-650 Black, 62",Black,Road-650
4,SO43701,43701001,1,1912.15,3399.99,2017-07-01,2017-07-07,Christy Zhu,North Ryde,New South Wales,Australia,Bikes,Mountain Bikes,"Mountain-100 Silver, 44",Silver,Mountain-100

In [47]:
# country country total values
a['CustomerCity'].value_counts()[:20]

CustomerCity
London           1579
Paris            1174
Cliffside         918
Chula Vista       583
Berlin            583
Burien            579
Berkeley          567
Bellingham        566
Shawnee           563
Concord           559
N. Vancouver      552
Beaverton         547
Bellflower        537
Burlingame        535
Burbank           532
Langley           516
Metchosin         503
Port Hammond      502
Bremerton         494
Beverly Hills     485
Name: count, dtype: int64

In [ ]:
#